doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/b.css')
  body
    h1 TEST B

    button.flip Flip

    #head Heads
      #headcount 0

    #tail Tails
      #tailcount 0

    #headp

    #tailp

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/b.js')
